
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

  }
 body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(215deg, rgba(97, 176, 220, 0.13) 0%, rgba(87, 160, 201, 0.84) 99.86%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
 }
 a{
    text-decoration: none;
 }
 button{
    outline: unset;
    border: unset;
    display: block;
 }
 input{
    outline: unset;
    border: unset;
    display: block;
 }
 .container{
    max-width: 927px;
    margin: 0  auto;
    padding: 0 20px;

 }

 .login{
    
    border-radius: 8px;
border: 1px solid rgba(87, 160, 201, 0.84);
background-color: rgba(255, 255, 255, 0.80);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    margin-top:  208px;
   
    text-align: center;
 }
 .login__title {
    margin-top: 35px;
    
    color: rgba(0, 0, 0, 0.77);
font-size: 36px;
font-weight: 400;
}
.form {

    
}
.form__email {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.91);
    background-color: #FFF;
    padding: 6px 250px 6px 265px;
    margin: auto;
    margin-top: 53px;
}
.form__password {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.91);
    background-color: #FFF;
    padding: 6px 250px 6px 265px;
    margin: auto;
    margin-top: 56px;
}
.form__password[placeholder]{
    
    font-size: 20px;
    font-weight: 400;
    text-align: center;
   
}
.form__email[placeholder]{
   
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.form__submit {
    border-radius: 8px;
border: 0.5px solid #61B0DC;
opacity: 0.800000011920929;
background-color: #7FB4D3;
color: #000;
font-size: 24px;
font-weight: 400;
    padding: 16px 55px;
    margin: auto;
    margin-top: 54px;
    cursor: pointer;
    transition: all 0.8s ease-out;
}
.form__submit:hover{
    transform: rotatex(360deg);
}
.lohin__link {
    color: rgba(0, 0, 0, 0.77);
font-weight: 400;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 52px;
}
.lohin__link:hover{
    color:red;
    transition: all 0.4s ease;
}