@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
body{
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(215deg, rgba(97, 176, 220, 0.13) 0%, rgba(87, 160, 201, 0.84) 99.86%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
a{
  text-decoration: none;
}
button{
  outline: unset;
  border: unset;
  display: block;
}
input{
  outline: unset;
  border: unset;
  display: block;
}
.container{
  max-width: 927px;
  margin: 0  auto;
  padding: 0 20px;

}